:root {
  --white: #ffffff;
  --white-200: #e5e5e5;
  --grey: #7e7e7e;
  --black: #000000;
  --blue: #0017ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--white-200);
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
}

a {
  text-decoration: none;
}

div.ReactModal__Content--after-open {
  background: rgba(0, 0, 0, 0.72) !important;
}