:root {
    --white: #ffffff;
    --white-200: #E5E5E5;
    --grey: #7E7E7E;
    --black: #000000; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    @media (max-width:1080px) {
        font-size: 93.75%;
}
    @media (max-width: 720px) {
        font-size: 87.5%;
} }

body {
    background:var(--white-200);
    
}

a {
    text-decoration: none;
}

div.ReactModal__Content--after-open{
    background: rgba(0, 0, 0, 0.72) !important;

  }

